{% extends "layout.html" %}

{% block content %}

<div class="container">
    {% from "_formhelpers.html" import render_field %}
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            {% include '_messages.html' %}
            <h1 class="text-center mt-5">Añadir nueva Categoria</h1>
            <form action="" method="POST">
                <input type="text" name="category" class="form-control">
                <input type="submit" href="{{url_for('categories')}}" value="Añadir Categoria" class="btn btn-info">
                <a href="{{url_for('categories')}}" class="btn btn-warning mt-2"> Cancelar</a>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

{% endblock content %}