{% extends 'layout.html' %}
{% block content %}
{% include '_messages.html' %}
{% include '/products/userbar.html' %}


<div class="container mt-5">
    <div class="row">
        <div class="col-md-6" id="pro_image"> <!-- imagen principal -->
            <img src="{{url_for('static', filename='images/' + product.image_1)}}" alt="{{product.name}}"
                 width="400px" height="400px">

            <div class="row">
                <div class="col-md-12 mt-5" id="spro_image"> <!-- imagenes de pie de foto -->
                    <img src="{{url_for('static', filename='images/' + product.image_1)}}" alt="{{product.name}}"
                         width="150px" height="150px" class="p-3">
                    <img src="{{url_for('static', filename='images/' + product.image_2)}}" alt="{{product.name}}"
                         width="150px" height="150px" class="p-3">
                    <img src="{{url_for('static', filename='images/' + product.image_3)}}" alt="{{product.name}}"
                         width="150px" height="150px" class="p-3">
                </div>
            </div>
        </div>


        <div class="col">
            <h1> {{product.name}}</h1>
            <hr>
            <p>{{product.price}}€</p>
            {% if product.discount > 0 %}
            <p>Descuento: {{product.discount}} %</p>
            {% endif %}
            <div class="row"> <!-- boton carrito -->
                <form action="{{url_for('AddCart')}}" method="POST">
                    <input type="hidden" name="product_id" value="{{product.id}}">
                    <button type="submit" class="btn btn-lrg btn-warning">Añadir al carrito</button>
                    <label for=""> Cantidad:</label>
                    <input type="number" name="quantity" id="colors" value="1" min="1" max="{{product.stock}}">
                    {% set colors = product.colors.split(',') %}
                    <label for="colors"> Color:</label>
                        <select name="colors" id="">
                            {% for color in colors %}
                            {% set col = color.split(':') %}
                            <option value="{{col[0]}}">{{col[0]|capitalize}}</option>
                            {% endfor %}
                        </select>
                </form>
            </div>
            <hr class="mt-3">
            <b>Descripcion:</b>
            <p>{{product.description}}</p>

        </div>
    </div>
</div>


<script>
    var pro_image = document.getElemntById('b_image');
    var spro_image = document.getElemntById('b_image').getElementsByTagName('img');
    for (var i = 0; i < s_image.length; i++) {
        spro_image[i].addEventListener('click, full_image');
    }

    function full_image() {
        var ImageSRC = this.getAttribute('src');
        pro_image.innerHTML = "<img src=" + ImageSRC + "wisth='400' height='400'>"
    }
</script>



{% endblock content %}


