<!-- userbar -->
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <!-- <a class="navbar-brand" href="/">Inicio</a> -->
        <a href="/" class="navbar-left"><img src="/static/banner.png"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

            <li>  <!-- Button trigger modal MARCAS -->
                 <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#showbrandsmodal">Filtrar Marcas</button>
            </li>
            <li>  <!-- Button trigger modal CATEGORIAS -->
                 <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#showcategoriesmodal">Filtrar Categorias</button>
            </li>

            <!-- Login y Logout -->
            {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a href="{{url_for('customer_logout')}}" class="nav-link">{{current_user.name}}</a>
                </li>
                <li class="nav-item">
                    <a href="{{url_for('customer_logout')}}" class="nav-link">Cerrar sesion</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/customer/login">Acceder</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/customer/register">Registrarse</a>
                </li>
            {% endif %}

            <!-- Carrito de compra -->
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('getCart')}}">Carrito ({{session['Shoppingcart']|length}})</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="{{url_for('result')}}">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
        </form>
      </div>
    </nav>
</div>
<!-- userbar end -->

<!-- Modal Filtrar Marcar-->
<div class="modal fade" id="showbrandsmodal" tabindex="-1" role="dialog" aria-labelledby="showbrandsmodallabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="showbrandsmodallabel">Filtrar por marca</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          {% for brand in brands %}
              <a class="dropdown-item"  href="{{url_for('brand', id = brand.id)}}">{{brand.name}}</a>
          {% endfor %}

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Filtrar Categorias-->
<div class="modal fade" id="showcategoriesmodal" tabindex="-1" role="dialog" aria-labelledby="showcategoriesmodallabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="showcategoriesmodallabel">Filtrar por categoria</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          {% for category in categories %}
              <a class="dropdown-item" href="{{url_for('category', id = category.id)}}">{{category.name}}</a>
          {% endfor %}

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>

<!-- Barra inferior para marcas -->

<nav class="navbar fixed-bottom navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Marcas y Fabricantes </a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="/brand/login">Acceso Marcas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/brand/register">Registrar Marca</a>
            </li>
            <li class="right">
                <a class="nav-link" href="/admin">Administrador</a>
            </li>
        </ul>
    </div>
</nav>