{% extends 'layout.html' %}
{% block content %}

{% include '_messages.html' %}
{% include '/admin/navbar.html' %}

<div class="container">
<table class="table table-sm table-condensed">
         <thead><tr>
         <th>Sr</th>
         <th>Producto</th>
         <th>Precio</th>
         <th>Descuento</th>
         <th>Marca</th>
         <th>Categoria</th>
         <th>Imagen</th>
         <th>Editar</th>
         <th>Eliminar</th>
         </tr>
     </thead>
     <tbody>
     {% for product in products %}
     <tr>
         <td>{{loop.index}}</td>
         <td>{{product.name}}</td>
         <td>{{product.price}}</td>
         <td>{{product.discount}} %</td>
         <td>{{product.brand.name}}</td>
         <td>{{product.category.name}}</td>
         <td><img src="{{url_for('static', filename='images/' + product.image_1) }}" width="60" height="60"></td>
         <td> <a href="{{url_for('updateproduct', id=product.id)}}" class="btn btn-sm btn-outline-info">Editar</a></td>
         <td> <form action="{{url_for('deleteproduct', id=product.id)}}" method="POST">
                                     <button type="submit" class="btn btn-danger btn-sm">Eliminar</button></form></td>
     </tr>

        {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}